* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.solution-thumbnail-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.solution-thummbnail-card {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left-part-blue {
    width: 50%;
    background: #728BA3;
}


.right-part-blue {
    width: 50%;
    background: #9EB3C7;
    position: relative;
}

.right-part-cream {
    width: 50%;
    background: #EBE8E5;
}


.left-part-cream {
    width: 50%;
    background: #F9F7F5;
    position: relative;
}

.image-wrape-blue {
    width: 100%;
    height: 530px;
    border-radius: 323px;
    background: #9EB3C7;
    overflow: hidden;
}

.image-wrape-cream {
    width: 100%;
    height: 530px;
    border-radius: 323px;
    background: #F9F7F5;
    overflow: hidden;
}

.image-wrape-blue img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; 
}

.image-wrape-cream img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; 
}

.solution-thummbnail-card:hover .image-wrape-blue img {
    opacity: 1;
}

.solution-thummbnail-card:hover .image-wrape-cream img {
    opacity: 1;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 70px;
}

.text-blue {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.text-cream {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.text-blue h3 {
    font-family: 'Disclaimer', sans-serif;
    color: #4E677E;
    text-align: center;
    font-size: 130px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    opacity: 0.3;
    transition: opacity 0.5s ease-in-out; 
}

.text-cream h3 {
    font-family: 'Disclaimer', sans-serif;
    color: #96928F;
    text-align: center;
    font-size: 130px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    opacity: 0.3;
    transition: opacity 0.5s ease-in-out; 
}

.solution-thummbnail-card:hover .text-cream h3 {
    opacity: 1;
}

.solution-thummbnail-card:hover .text-blue h3 {
    opacity: 1;
}

.text-blue p {
    color:  #062758;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 1.8px;
}

.text-cream p {
    color:  #062758;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 1.8px;
}

.solution-more-btn-blue{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: none;
    border-radius: 60px;
    background: #385066;
    height: 90px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
    width: 106px;
    transition: ease-in-out 0.5s ; 
    
}
 
.btn-text-blue{
    font-family: "Unica One";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 10;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    background: linear-gradient(99deg, #B59E75 39.6%, #FFE7BD 55.66%, #A9926A 68.83%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 30px;
    opacity: 0;

}

.icon{
    position: absolute;
    right: 30px;
}

.solution-thummbnail-card:hover .solution-more-btn-blue{

    padding-left: 10px;
    transition: ease .60s;
    transition: opacity 0.5s ease-in-out;
    width: 195px;
    transition: ease-in-out 0.5s ;
}

.solution-thummbnail-card:hover .btn-text-blue{
 opacity: 1;
}


.solution-more-btn-cream{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: none;
    border-radius: 60px;
    background: #EBE8E5;
    height: 90px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
    width: 106px;
    transition: ease-in-out 0.5s ; 
    
}
 
.btn-text-cream{
    font-family: "Unica One";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 10;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    background: linear-gradient(99deg, #B59E75 39.6%, #FFE7BD 55.66%, #A9926A 68.83%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 30px;
    opacity: 0;

}

.icon{
    position: absolute;
    right: 30px;
}

.solution-thummbnail-card:hover .solution-more-btn-cream{

    padding-left: 10px;
    transition: ease .60s;
    transition: opacity 0.5s ease-in-out;
    width: 195px;
    transition: ease-in-out 0.5s ;
}

.solution-thummbnail-card:hover .btn-text-cream{
 opacity: 1;
}
